@import url(./common.css);

@tailwind base;
@tailwind components;
@tailwind utilities;


/* for costum class in taiwind (Using Tailwind’s Arbitrary Values) */
@layer utilities {
    /* dark scrollbar */
    .dark-scrollbar::-webkit-scrollbar {
        width: 7px;
        height: 7px;
    }
    .dark-scrollbar::-webkit-scrollbar-track {
        box-shadow: inset 0 0 0px grey;
        border-radius: 10px;
    }
    .dark-scrollbar::-webkit-scrollbar-thumb {
        background: #FFC700;
        border-radius: 10px;
        cursor: pointer;
    }
    /* light scrollbar */
    .light-scrollbar::-webkit-scrollbar {
        width: 7px;
        height: 7px;
    }
    .light-scrollbar::-webkit-scrollbar-track {
        box-shadow: inset 0 0 0px #fff;
    }
    .light-scrollbar::-webkit-scrollbar-thumb {
        background: #426dae;
        border-radius: 20px;
        cursor: pointer;

    }
    /* custom transition */
    .base-transition-1{
        transition: all 0.2s;
    }
    /* menu transition */
    .menu-transition{
        transition: all 0.4s ease-in-out;
    }
    /* base shadow box */
    .base-shadow-1{
        box-shadow: 0 20px 70px -10px rgb(0 0 0 / 0.2);
    }

    /* transform:rotateY(180deg) */
    .rotate-y-180{
        transform: rotateY(180deg);
    }
    /* grid-area for single level pages layout */

    @media (max-width: 767px) {
        .grid-container {
          display: flex;
          flex-direction: column;
        }
        .grid-first { order: 1; }
        .grid-forth { order: 2; }
        .grid-second { order: 1; }
        .grid-third { order: 4; }
      }
      
      @media (min-width: 768px) {
        .grid-container {
          display: grid;
          grid-template-columns: minmax(0, 65vw) repeat(2, 1fr); /* First 65vw for first 3 boxes, remaining columns flexible */
          grid-template-rows: auto auto auto;
        }
      
        .grid-first {
          grid-column: 1 / 2; /* Span the first column */
          grid-row: 1;
        }
      
        .grid-second {
          grid-column: 1 / 2; /* Remain in the first column */
          grid-row: 2;
        }
      
        .grid-third {
          grid-column: 1 / 2; /* Remain in the first column */
          grid-row: 3;
        }
      
        .grid-forth {
          grid-column: 2 / 4; /* Span the second and third columns */
          grid-row: 1 / span 4;
        }
      }
  }


/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Hide and show scrollbar on lg: */
.no-scrollbar1::-webkit-scrollbar {
    display: none;
}

.no-scrollbar1 {
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

.show-scrollbar1::-webkit-scrollbar {
    display: block;
}

.show-scrollbar1 {
    -ms-overflow-style: auto;
    scrollbar-width: auto;
}
/*  */
.tooltip-bg-color{
    background-color: #868b90 !important              
    ;
}
#dark-scrollbar {
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 0px grey;
        border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #FFC700;
        border-radius: 10px;
    }
}

#light-scrollbar {
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 0px #fff;
        border-radius: 10px;

    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #426dae;

        border-radius: 20px;

    }
}


.hoverCardLevel:hover .boxDataLevel{
    border: none;
}

.versionHistoryInfo::-webkit-scrollbar {

    width: 3px;
}

.versionHistoryInfo::-webkit-scrollbar-thumb {
    /* گرد کردن گوشه‌های دستگیره */
    border: 3px solid#868B90;
    /* رنگ حاشیه دستگیره */
    border-radius: 10px;

}
:root {
  --progress-color: rgb(0, 102, 255);   /* آبی در light */
  --progress-bg: #e5e7eb;               /* gray-200 */
}

.dark {
  --progress-color: #ffc700;            /* زرد در dark */
  --progress-bg: #3d351b6e;               /* gray-700 */
}
@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.animate-shimmer {
  animation: shimmer 1.5s infinite linear;
  background-size: 200% 100%;
}
input {
  touch-action: manipulation;
}

*, *:before, *:after {
  box-sizing: border-box;
}


.dark body {
  background: black;
}
.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.container {

  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
  perspective: 2000px;
  transform: rotateX(-30deg) rotateY(-45deg);
}

.holder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
  transform: translate3d(0em, 3em, 1.5em);
}
.holder:last-child {
  transform: rotateY(-90deg) rotateX(90deg) translate3d(0, 3em, 1.5em);
}
.holder:first-child {
  transform: rotateZ(-90deg) rotateX(-90deg) translate3d(0, 3em, 1.5em);
}
/* --- Blue --- */
.holder:nth-child(1) .box {
  background-color: #1E90FF;   /* آبی اصلی */
}
.holder:nth-child(1) .box:before {
  background-color: #0A63C8;   /* تیره‌تر */
}
.holder:nth-child(1) .box:after {
  background-color: #5AB0FF;   /* روشن‌تر */
}

/* --- Red --- */
.holder:nth-child(2) .box {
  background-color: #FF4C4C;   /* قرمز اصلی */
}
.holder:nth-child(2) .box:before {
  background-color: #C51A1A;   /* تیره‌تر */
}
.holder:nth-child(2) .box:after {
  background-color: #FF7A7A;   /* روشن‌تر */
}

/* --- Yellow --- */
.holder:nth-child(3) .box {
  background-color: #FFD530;   /* زرد اصلی */
}
.holder:nth-child(3) .box:before {
  background-color: #C7A400;   /* تیره‌تر */
}
.holder:nth-child(3) .box:after {
  background-color: #FFE470;   /* روشن‌تر */
}


.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
  -webkit-animation: ani-box 6s infinite;
          animation: ani-box 6s infinite;
  width: 3em;
  height: 3em;
}
.box:before, .box:after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
}
.box:before {
  left: 100%;
  bottom: 0;
  transform: rotateY(90deg);
  transform-origin: 0 50%;
}
.box:after {
  left: 0;
  bottom: 100%;
  transform: rotateX(90deg);
  transform-origin: 0 100%;
}

@-webkit-keyframes ani-box {
  8.33% {
    transform: translate3d(-50%, -50%, 0) scaleZ(2);
  }
  16.7% {
    transform: translate3d(-50%, -50%, -3em) scaleZ(1);
  }
  25% {
    transform: translate3d(-50%, -100%, -3em) scaleY(2);
  }
  33.3% {
    transform: translate3d(-50%, -150%, -3em) scaleY(1);
  }
  41.7% {
    transform: translate3d(-100%, -150%, -3em) scaleX(2);
  }
  50% {
    transform: translate3d(-150%, -150%, -3em) scaleX(1);
  }
  58.3% {
    transform: translate3d(-150%, -150%, 0) scaleZ(2);
  }
  66.7% {
    transform: translate3d(-150%, -150%, 0) scaleZ(1);
  }
  75% {
    transform: translate3d(-150%, -100%, 0) scaleY(2);
  }
  83.3% {
    transform: translate3d(-150%, -50%, 0) scaleY(1);
  }
  91.7% {
    transform: translate3d(-100%, -50%, 0) scaleX(2);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) scaleX(1);
  }
}

@keyframes ani-box {
  8.33% {
    transform: translate3d(-50%, -50%, 0) scaleZ(2);
  }
  16.7% {
    transform: translate3d(-50%, -50%, -3em) scaleZ(1);
  }
  25% {
    transform: translate3d(-50%, -100%, -3em) scaleY(2);
  }
  33.3% {
    transform: translate3d(-50%, -150%, -3em) scaleY(1);
  }
  41.7% {
    transform: translate3d(-100%, -150%, -3em) scaleX(2);
  }
  50% {
    transform: translate3d(-150%, -150%, -3em) scaleX(1);
  }
  58.3% {
    transform: translate3d(-150%, -150%, 0) scaleZ(2);
  }
  66.7% {
    transform: translate3d(-150%, -150%, 0) scaleZ(1);
  }
  75% {
    transform: translate3d(-150%, -100%, 0) scaleY(2);
  }
  83.3% {
    transform: translate3d(-150%, -50%, 0) scaleY(1);
  }
  91.7% {
    transform: translate3d(-100%, -50%, 0) scaleX(2);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) scaleX(1);
  }
}
.core-styles-module_show__Nt9eE{
  opacity: 1 !important;
}